@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    background: #faf9f8;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #9d8b7f;
}

nav ul li a:hover {
    color: #c9bcb4;
}

.btn {
    background: #9d8b7f;
    border-radius: 10px;
    padding: 10px 18px;
    text-decoration: none;
    color: #faf9f8;
    display: inline-block;
    border: 2px solid transparent;
    transition: .4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #9d8b7f;
    cursor: pointer;
}

body {
    background: #faf9f8;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contactUs .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactUs .left,
.contactUs .right {
    flex: 1;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contactUs .right {
    display: flex;
    flex-direction: column;
}

.contact.form {
    width: 100%;
}

.contact.form h3 {
    color: #333;
    margin-bottom: 20px;
}

.contact.form .formBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact.form .formBox .row50 {
    position: relative;
    width: 48%;
    margin-bottom: 20px;
}

.contact.form .formBox .row100 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact.form .formBox .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact.form .formBox .inputBox span {
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.contact.form .formBox .inputBox input,
.contact.form .formBox .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    resize: none;
    border-radius: 5px;
}

.contact.form .formBox .inputBox input {
    height: 40px;
}

.contact.form .formBox .inputBox textarea {
    height: 120px;
}

.contact.form .formBox .inputBox input[type="submit"] {
    background: #9d8b7f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .4s;
}

.contact.form .formBox .inputBox input[type="submit"]:hover {
    background: #c9bcb4;
}

.contact.info {
    margin-bottom: 20px;
}

.contact.info h3 {
    color: #333;
    margin-bottom: 20px;
}

.contact.info .infoBox {
    width: 100%;
}

.contact.info .infoBox div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.contact.info .infoBox div span {
    color: #9d8b7f;
    margin-right: 10px;
}

.contact.info .infoBox div p {
    color: #333;
}

.contact.info .infoBox div a {
    color: #333;
    text-decoration: none;
}

.contact.info .infoBox div a:hover {
    text-decoration: underline;
}

.contact.info .sci {
    display: flex;
}

.contact.info .sci li {
    list-style: none;
}

.contact.info .sci li a {
    color: #9d8b7f;
    margin-right: 10px;
    font-size: 20px;
}

.contact.map {
    flex: 1;
    width: 100%;
}

.contact.map iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
}

footer{
    text-align: center;
    background: #faf9f8;
    padding: 20px;
    margin-top: 20px;
}

footer p{
    color: #717275;
    font-size: 18px;
    margin: 10px 0;
}

footer .social1 a{
    color: #717275;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3a;
}

footer .social1 a:hover{
    color: #9d8b7f;
}

footer .end{
    margin-top: 20px;
    font-size: 14px;
    color: #9d8b7f;
}