@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    background: #faf9f8;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #9d8b7f;
}

nav ul li a:hover{
    color: #c9bcb4;
}

.btn{
    background: #9d8b7f;
    border-radius: 10px;
    padding: 10px 18px;
    text-decoration: none;
    color: #faf9f8;
    display: inline-block;
    border: 2px solid transparent;
    transition: .4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #9d8b7f;
    cursor: pointer;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

table,tr,td,th
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr
{
    background-color: rgb(157, 93, 93);
}

th
{
    background-color: rgb(247, 176, 176);
    color: rgb(102, 44, 44);
}

tr:nth-child(odd)
{
    background-color: rgb(247, 176, 176);
}

tr:hover
{
    background-color: #faf9f8;
}

















footer{
    text-align: center;
    background: #faf9f8;
    padding: 20px;
    margin-top: 20px;
}

footer p{
    color: #717275;
    font-size: 18px;
    margin: 10px 0;
}

footer .social1 a{
    color: #717275;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3a;
}

footer .social1 a:hover{
    color: #9d8b7f;
}

footer .end{
    margin-top: 20px;
    font-size: 14px;
    color: #9d8b7f;
}