@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero{
  width: 100%;
 
  background: #faf9f8;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 150px;
  cursor: pointer;
}

nav ul{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li{
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: #9d8b7f;
}

nav ul li a:hover{
  color: #c9bcb4;
}

.btn{
  background: #9d8b7f;
  border-radius: 4px;
  padding: 10px 18px;
  text-decoration: none;
  color: #faf9f8;
  display: inline-block;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.btn:hover{
  color: #9d8b7f;
  border: 1px solid #9d8b7f;
}

*{
    box-sizing: border-box;
}
  
body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #faf9f8;
}

.freelancer{
    background: #faf9f8;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  
.title2 h2{
    color: #444242;
    font-size: 35px;
    margin: 30px auto;
    text-align: center;
}

.title2 h2 span{
    color: #9d8b7f;
}

.title2 h5{
    color: #444242;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.title2 p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;  
}

.title2 img{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
  
.boxxx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* allows the card to wrap on smaller screens */
    gap: 20px; /* adds space between the cards */
}
  
.card2{
    height: 170px;
    width: 1200px;
    padding: 20px 35px;
    background: #e7ded5;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
  
.card2 p{
    color: #717275;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.service{
  background: #faf9f8;
  width: 100%;
  padding: 0px 0px;
}

.title h2{
  color: #444242;
  font-size: 40px;
  margin: 30px auto;
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* allows the card to wrap on smaller screens */
  gap: 20px; /* adds space between the cards */
}

.card{
  height: 300px;
  width: 300px;
  padding: 20px 35px;
  background: #e7ded5;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}



.card h5{
 color: #444242; 
 font-size: 23px;
 margin-bottom: 10px;
 margin-top: 15px;
}

.card p{
  color: #606163;
  letter-spacing: 1px;
  font-size: 15px;
  margin-bottom: 20px; 
  text-align: center;
}

.card .button{
  background-color: #9d8b7f;
  color: #faf9f8;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 26px;
  border-radius: 10px;
  transition: .4s;
  
}

.card .button:hover{
  background-color: transparent;
  border: 2px solid #9d8b7f;
  cursor: pointer;
}
  

























footer{
    text-align: center;
    background: #faf9f8;
    padding: 20px;
    margin-top: 20px;
}

footer p{
    color: #717275;
    font-size: 18px;
    margin: 10px 0;
}

footer .social1 a{
    color: #717275;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3a;
}

footer .social1 a:hover{
    color: #9d8b7f;
}

footer .end{
    margin-top: 20px;
    font-size: 14px;
    color: #9d8b7f;
}