@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    
    background: #faf9f8;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #9d8b7f;
}

nav ul li a:hover{
    color: #c9bcb4;
}

.btn{
    background: #9d8b7f;
    border-radius: 10px;
    padding: 10px 18px;
    text-decoration: none;
    color: #faf9f8;
    display: inline-block;
    border: 2px solid transparent;
    transition: .4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #9d8b7f;
    cursor: pointer;
}

.skills-section {
    margin-bottom: 40px;
}

.wrapper {
    border: 1px solid #ddd5ce ;
    width: 40%;
    min-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fdf9f3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}


h2{
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #9d8b7f;
}

.skills .details {
    font-family: "Poppins", sans-serif;
    color: #72675e;
}


.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    background-color: rgba( 255, 255, 225, 0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.bar div {
    position: relative;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28, 151, 252, 0.6);
}

#tableau-bar{
    animation: tableau-fill 2s forwards;
}

@keyframes tableau-fill {
    100% {
        width: 65%;
    }
}

#canva-bar{
    animation: canva-fill 2s forwards;
}

@keyframes canva-fill {
    100% {
        width: 89%;
    }
}

#html-bar{
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 55%;
    }
}

#copywriting-bar{
    animation: copywriting-fill 2s forwards;
}

@keyframes copywriting-fill {
    100% {
        width: 81%;
    }
}

#communication-bar{
    animation: communication-fill 2s forwards;
}

@keyframes communication-fill {
    100% {
        width: 60%;
    }
}

#teamwork-bar{
    animation: teamwork-fill 2s forwards;
}

@keyframes teamwork-fill {
    100% {
        width: 71%;
    }
}

#project-management-bar{
    animation: project-management-fill 2s forwards;
}

@keyframes project-management-fill {
    100% {
        width: 86%;
    }
}

#creativity-bar{
    animation: creativity-fill 2s forwards;
}

@keyframes creativity-fill {
    100% {
        width: 84%;
    }
}
















footer{
    text-align: center;
    background: #faf9f8;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
}

footer p{
    color: #717275;
    font-size: 18px;
    margin: 10px 0;
}

footer .social1 a{
    color: #717275;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3a;
}

footer .social1 a:hover{
    color: #9d8b7f;
}

footer .end{
    margin-top: 20px;
    font-size: 14px;
    color: #9d8b7f;
}